<!DOCTYPE html>
<html>
<head>
    <title>User Data Input</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
    <h1>User Data Input</h1>
    <form method="post" action="/">
        <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" required><br>
</div>
<div class="form-group">
        <label for="sport">Favorite Sport:</label>
        <select name="sport" required>
            <option value="cricket">cricket</option>
            <option value="volleyball">volleyball</option>
            <option value="basketball">basket ball</option>
            <option value="chess">chess</option>
            <option value="badminton">badminton</option>
            <option value="kabaddi">kabaddi</option>

        </select><br>
        </div>

<div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" required><br>
</div>
<div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="tel" name="phone" required><br>
        </div>

        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/visualize">Visualize Data</a>
    </div>
</body>
</html>